html{
	height: 100%;
}

body{
	background: #50569e;
	font-family: 'Merriweather', serif;
	margin: 20px;
	border: 0;
	color: #101121;	
}

.navcontainer{
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
}

a{
	color: #262949;
	font-weight: bold;
	text-decoration: none;
}

a:hover{
	color: #dd1c3d;
	font-style: italic;
}

h1, h2{
	font-family: 'Berkshire Swash', cursive;
	text-align:center;
	text-shadow: 2px 5px 20px black;
}

.greeting{
	text-align: center;
}

img{ 
	border-radius: 10px;
	box-shadow: 4px 3px 2px 0px rgba(0,0,0,0.31);
	display: inline-flex;
	width: 31%;
	align-self: center;
	flex-wrap: wrap;
}

form{
	border: 5px solid #402e6e;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	width: 30%;
	margin: auto;
	clear: both;
}

input{
	width: 100%;
	margin-bottom: 5px;
	border: 0;
	border-radius: 10px;
	margin: 10px 0px;
}

.button{
	padding: 4px;
    color: #10286d;
}

textarea{
	width: 99%;
	width: 100%;
	margin-bottom: 5px;
	border: 0;
	border-radius: 10px;
	margin: 10px 0px;
}

.contentcontainer{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    clear: left;
}
.imgcontainer{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	clear: both;
}

.lists{
	text-align: left;
	display: inline-block;
	margin: auto;
}

hr {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

.footer {
   position: fixed;
   display: inline;
   left: 0;
   bottom: 0;
   width: 100%;
   margin: auto;
   background-color: #101121;
   color: #d3d6f9;
   text-align: center;
}


@media(max-width: 768px){
	.header{
		display:flex;
		flex-direction: column-reverse;
	}

	nav{
		display:flex;
		flex:1;
		flex-direction: column;
	}
	.imgcontainer{
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		padding-bottom: 10px;
	}
	img{
		margin: 10px 0px;
		width: 75%;
	}
	.contentcontainer{
		width: 75%;
		margin: auto;
	}
	form{
		width: 90%;
		margin-bottom: 10px;
	}
	textarea{
		width: 97%;
	}
	hr{
		display:none;
	}
}