html{
	height: 100%;
    background-repeat:no-repeat;
}

body{
	background: #50569e;
	font-family: 'Merriweather', serif;
	margin: 20px;
	border: 0;
	color: #101121;
	
}

.navcontainer{
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
}

a{
	color: #262949;
	font-weight: bold;
	text-decoration: none;
}

a:hover{
	color: #dd1c3d;
	font-style: italic;
}

h1{
	font-family: 'Berkshire Swash', cursive;
	text-align:center;
}

p{
	text-align: center;
	clear: both;
}

img{ 
	border-radius: 10px;
	box-shadow: 4px 3px 2px 0px rgba(0,0,0,0.31);
}

form{
	border: 5px solid #402e6e;
	padding: 10px;
	text-align: center;
	width: 30%;
	margin: auto;

}

input, textarea{
	width: 100%;
	margin-bottom: 5px;
	border: 0;
	clear: both;
}

textarea{
	width: 99%	;
}

.imgcontainer{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	clear: left;
}

.contentcontainer{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    clear: left;
}


img{
	display: inline-flex;
	width: 32%;
	align-self: center;
	flex-wrap: wrap;
}
ul, ol{
	display: inline-block;
	
}

@media(max-width: 768px){
	.header{
		display:flex;
		flex-direction: column-reverse;
	}
	nav{
		display:flex;
		flex:1;
		flex-direction: column;
	}
	.imgcontainer{
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
	img{
		margin-top: 10px;
		width: 75%;
	}
	.contentcontainer{
		width: 75%;
		margin: auto;
	}
}